<section class="book-container">
  <p><img src="<%= bookInfo.image_url %>"></p>
  <p>Title: <%= bookInfo.title %></p>
  <p>Author: <%= bookInfo.author %></p>
  <p>Description: <%= bookInfo.description %></p>
  <p>isbn: <%= bookInfo.isbn %></p>
  <p><%= bookInfo.bookshelf %></p>
  <button class="select-btn">Select This Book</button>
</section>