<section class="book-container">
  <div class="img-box"style="background-image:url('<%= bookInfo.image_url %>')"></div>
  <h2 class="title-font"><%= bookInfo.title %></h2>
  <p><%= bookInfo.author %></p>
  <p><%= bookInfo.description %></p>
  <p><%= bookInfo.isbn %></p>
  <p><%= bookInfo.bookshelf %></p>
  <button class="select-btn">Select This Book</button>
</section>