<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body onload="init()">
  <%- include('../layout/header') %>
  <h3 class="fav-bar title-font">You have <span><%= books.length %></span> favorite book(s)</h3>
  <main class="favorite-books">
    <% books.forEach(book => { %>
      <article class="fav-book">
        <%- include('books/detail', {bookInfo: book}) %>
        <a href="/books/<%= book.id %>"><button class="detail-btn">View Details</button></a>
      </article>
    <% }) %>
  </main>
  <%- include('../layout/footer') %>
</body>
</html>